htnl
  head
    style.
      div {
        text-align: center
      }
      a {
        text-decoration: none;
        color: blue
      }
    body
      div
        h1 ページが見つかりませ
        a(href="/") ダッシュボード