extends ../layout

block content
    .mt-3
        .row 
            .col-md-6.center
                a(href="/wedding")
                    button(type="button" class="btn btn-primary btn-square mt-3") Đám Tiệc
            .col-md-6.center
                a(href="/travel")
                    button(type="button" class="btn btn-primary btn-square mt-3") Du Lịch